*.m8
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/

# Generated output data
misc/
src/alphafold3/constants/converters/ccd.pickle
src/alphafold3/constants/converters/chemical_component_sets.pickle

# OS
.DS_Store
